@font-face {
  font-family: 'iyoule-icon';
  src:  url('../fonts/iyoule-icon.eot?e6oc2m');
  src:  url('../fonts/iyoule-icon.eot?e6oc2m#iefix') format('embedded-opentype'),
    url('../fonts/iyoule-icon.ttf?e6oc2m') format('truetype'),
    url('../fonts/iyoule-icon.woff?e6oc2m') format('woff'),
    url('../fonts/iyoule-icon.svg?e6oc2m#iyoule-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iyoule-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-对勾:before {
  content: "\e93b";
}
.icon-火:before {
  content: "\e93c";
}
.icon-加号:before {
  content: "\e93d";
}
.icon-减号:before {
  content: "\e93e";
}
.icon-角标签:before {
  content: "\e93f";
}
.icon-看法:before {
  content: "\e940";
}
.icon-密码钥匙:before {
  content: "\e941";
}
.icon-删除:before {
  content: "\e942";
}
.icon-手机账号:before {
  content: "\e943";
}
.icon-微博:before {
  content: "\e944";
}
.icon-微信:before {
  content: "\e945";
}
.icon-read:before {
  content: "\e927";
}
.icon-comment:before {
  content: "\e913";
}
.icon-gift:before {
  content: "\e914";
}
.icon-share:before {
  content: "\e915";
}
.icon-yizan:before {
  content: "\e916";
}
.icon-yuep:before {
  content: "\e91b";
}
.icon-zan:before {
  content: "\e91c";
}
.icon-chapter_wrong:before {
  content: "\e91d";
}
.icon-comment2:before {
  content: "\e91e";
}
.icon-dege:before {
  content: "\e91f";
}
.icon-eye:before {
  content: "\e920";
}
.icon-font:before {
  content: "\e921";
}
.icon-full_screen:before {
  content: "\e922";
}
.icon-lock:before {
  content: "\e923";
}
.icon-mark:before {
  content: "\e924";
}
.icon-menu:before {
  content: "\e925";
}
.icon-notion:before {
  content: "\e926";
}
.icon-red_packet:before {
  content: "\e928";
}
.icon-share2:before {
  content: "\e929";
}
.icon-space_big:before {
  content: "\e92a";
}
.icon-space_middle:before {
  content: "\e92b";
}
.icon-space_small:before {
  content: "\e92c";
}
.icon-subscription:before {
  content: "\e92d";
}
.icon-switch:before {
  content: "\e92e";
}
.icon-update:before {
  content: "\e92f";
}
.icon-withdraw:before {
  content: "\e930";
}
.icon-bulb:before {
  content: "\e931";
}
.icon-catalog:before {
  content: "\e932";
}
.icon-check:before {
  content: "\e933";
}
.icon-download:before {
  content: "\e934";
}
.icon-flower:before {
  content: "\e935";
  color: #ef2e4a;
}
.icon-off:before {
  content: "\e936";
}
.icon-on:before {
  content: "\e937";
  color: #ff4c4c;
}
.icon-ondown:before {
  content: "\e938";
  color: #ff4c4c;
}
.icon-uncheck:before {
  content: "\e939";
}
.icon-arrow-down:before {
  content: "\e911";
  color: #998282;
}
.icon-arrow-left:before {
  content: "\e912";
  color: #998282;
}
.icon-hit:before {
  content: "\e91a";
  color: #ffbd17;
}
.icon-reward:before {
  content: "\e917";
  color: #ffbd17;
}
.icon-score:before {
  content: "\e918";
  color: #ffbd17;
}
.icon-ticket:before {
  content: "\e919";
  color: #ffbd17;
}
.icon-VIP:before {
  content: "\e904";
}
.icon-help:before {
  content: "\e905";
}
.icon-deposit:before {
  content: "\e906";
}
.icon-consuming-records:before {
  content: "\e907";
}
.icon-personal:before {
  content: "\e908";
}
.icon-person-data:before {
  content: "\e909";
}
.icon-arrow:before {
  content: "\e90a";
  color: #998282;
}
.icon-set:before {
  content: "\e90b";
}
.icon-lv:before {
  content: "\e90c";
}
.icon-mybook:before {
  content: "\e90d";
}
.icon-new:before {
  content: "\e90e";
}
.icon-night:before {
  content: "\e90f";
}
.icon-topic:before {
  content: "\e910";
}
.icon-book-city:before {
  content: "\e900";
}
.icon-bookshelf:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-direction:before {
  content: "\e903";
}
.icon-undo:before {
  content: "\e965";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-flickr:before {
  content: "\eaa3";
}
